body {
    font-size: 20px;
    height: 100vh;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --main-color: #9a9999;
}

/**********************************     NAVBAR     ******************************************************/
.navbar {
    background: #101010 !important;
    padding: 5px 5px 2px 5px;
    font-family: var(--font-family);
    font-weight: bold;
    text-align: right;
}

.navbar-nav .nav-link,
.navbar-brand {
    color: var(--main-color);

}
.nav-link{
    margin-left: 150px;
}
.navbar-nav .nav-link:hover {
    color: #569bb6;
    transition: 0.7s;
}

/*BODY*/

/**********************************     INICIO     ******************************************************/
.bg-container {
    text-align: center;
    font-family: var(--font-family);
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
}

.bg-text {
    color: #fff1f1;
    text-shadow: 20px 20px 3px rgb(0, 0, 0);
}

.bg-title {
    font-weight: bold;
    font-family: "Bruno Ace SC", cursive;
    width: 11ch;
    overflow: hidden;
    border-right: 0.1em solid rgb(0, 0, 0);
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2s steps(11), blink 0.6s infinite step-end alternate;
    color: #fff1f1;
    padding-bottom: 15px;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: rgb(255, 254, 254);
    }
}

.bg-home {
    background-image: url("./assets/images/bgn.jpg");
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
}

/**********************************     HABILIDADES     ******************************************************/
.skCont {
    padding: 50px;
    font-family: var(--font-family);
}

.skTitle {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    padding-bottom: 50px;
    padding-top: 30px;
}

.cardsk,
.cardsk li {
    text-align: center;
    list-style-type: none;
    padding: 5px;
}

.cardsk h2 {
    padding: 5px 10px 20px 60px;
}

.imgCont {
    padding: 5px 20px 40px 50px;
}

.skimg {
    width: 100px;
}

/**********************************     PROYECTOS     ******************************************************/


.prCont {
    background-image: url('./assets/images/bg1.jpg');
    background-size: cover;
    width: 100%;
    padding: 20px;

}

.cardCont{
    padding: 80px 100px 20px 100px;
    
}

.card{
    width: 25rem;
}

.card img{
    height: 20rem;
}

.card-body h2{
    font-weight: bold;
    text-align: center;
}
.card-text{
    font-size: 15px;
    
}

.cardCont span{
    margin: 10px;
    padding: 5px;
    background-color: #9a999947;
    border-radius: 10px;
    font-size: 14px;
}
.cardCont a{
    margin-top: 20px;
}

/**********************************     CONTACTO     ******************************************************/

.contactoCont{
    display: flex;
    justify-content: center;
    
}
.indCont{
    margin: 180px 80px;
    background-color: #fff1f18e;
    border-radius: 20px;
    padding: 80px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.322);
}
.icon{
    width: 100px;
}

.cnTitle {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    padding-top: 70px;

}

/**********************************     FOOTER     ******************************************************/

footer{
    background: #101010;
    padding: 5px 0px;
    margin-top: 2px;
    color: var(--main-color);
}
footer .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu a{
    text-decoration: none;
    font-size: 10px;
}
.btn-custom{
    background-color: #101010;
    color: var(--main-color);
}



/**********************************     RESPONSIVO     ******************************************************/
@media (max-width: 1200px) {

    /**    INICIO-RESPONSIVO     **/
    .bg-home {
        height: 800px;
    }

    .bg-container {
        top: 50%;
        left: 50%;
    }
    .bg-text {
        padding: 10px;
        font-size: 15px;
        text-shadow: 15px 15px 3px rgb(0, 0, 0);
    }

    /**     HABILIDADES-RESPONSIVO    **/
    .skTitle {
        font-size: 40px;
    }

    .imgCont {
        padding: 10px 15px 10px 10px;
    }

    .cardsk h2 {
        padding: 15px 15px 20px 10px;
        margin: 0 auto;
    }

    .cardsk li {
        padding-right: 50px;
        margin: 0 auto;
        font-size: 17px;
    }

    .card{
    width: 18rem;
    }

    /**     PROYECTOS-RESPONSIVO    **/
    .cardCont{
        padding: 20px 45px 20px 45px; 
        
    }

    /**     CONTACTO-RESPONSIVO    **/
    .contactoCont{
        display: grid;
        justify-content: center;
        padding-bottom: 50px;
    }
    .indCont{
        margin: 10px;
        padding: 50px;

    }
    .icon{
        width: 50px;
    }
    
    .cnTitle {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    padding-top: 50px;

}
    
}

